<li *ngFor="let article of listeArticles" [ngClass]="{'list-group-item':true,
                                                      'list-group-item-success': article.nbJAime>0,
                                                      'list-group-item-danger': article.nbJAime<0}">
  <h3>{{article.titre}}</h3>
  <p><i>Posté le {{article.dateCreation | date : 'dd.MM.yyyy' }}</i></p>
  <p>{{article.contenu}}</p>
  <button class="btn btn-success" (click)="onAime()">J'aime</button>
  <button class="btn btn-danger" (click)="onAimePas()">J'aime pas</button>
</li>